body {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background-color: #3F4B3B;
}

h1 {
    color:antiquewhite
}

#message {
    margin: 50px 200px;
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
}

#container-block {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    /* background-color: aquamarine; */
    /* margin-left: 45px; */
}

.container {
    width: 400px;
    height: 400px;
    background-color: #B6C197;
    text-align: center;
    border-radius: 10px;
}

#container-one {
    background: rgb(182,193,151);
    background: linear-gradient(90deg, rgba(182,193,151,1) 0%, rgba(213,221,188,1) 25%, rgba(250,235,215,1) 100%);
}

#container-two {
    background: rgb(182,193,151);
    background: linear-gradient(270deg, rgba(182,193,151,1) 0%, rgba(213,221,188,1) 25%, rgba(250,235,215,1) 100%);
}

#dead-container {
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
}

#give-up-container {
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
}

.option-text {
    font-size: 20px;
    color: black;
    padding: 20px;
}

.cliff-btn-div {
    /* align-self: flex-end; */
    margin-top: 100px;

}

#countdown {
    margin: 20px;
    padding: 20px;
    color: an;
}

img {
    max-width: 200px;
}

@media screen and (max-width: 768px) {

    #message {
        font-size: 20px;
        margin: 20px 20px;
    }

    #container-block {
        flex-direction: column;
    }

    .container {
        width: auto;
        height: auto;
        
    }

    h2 {
        font-size: 20px;
    }

    .option-text {
        font-size: 18px;
    }

    #container-one {
        background: rgb(250,235,215);
        background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    }

    #container-two {
        background: rgb(250,235,215);
        background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    }

}

