body {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    background-color: #3F4B3B;
}

h1 {
    color:antiquewhite
}

#message {
    margin: 50px 200px;
    color: antiquewhite;
    font-size: 25px;
    text-align: center;
}

#container-block {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    /* background-color: aquamarine; */
    /* margin-left: 45px; */
}

.container {
    width: 400px;
    height: 400px;
    background-color: #B6C197;
    text-align: center;
}

.option-text {
    font-size: 20px;
    color: black;
}

.cliff-btn-div {
    /* align-self: flex-end; */
    margin-top: 100px;

}

#countdown {
    margin: 20px;
    padding: 20px;
}