html {
    margin: 0px;
}

html, body {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* background-color: #3F4B3B; */
    margin: 0px;
    background-image: url('../images/raph-howald-GSCtoEEqntQ-unsplash.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;

}

main {
    background-color: #3F4B3B;
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;
    background-color: #3F4B3B;
    width: 75%;
    height: 100%;
}

h1 {
    color:antiquewhite;
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
}

h2 {
    margin: 20px;
    font-family: 'Fredericka the Great', cursive;
}

#message {
    margin: 50px 150px;
    color: antiquewhite;
    font-size: 26px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

#container-block {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
    /* background-color: aquamarine; */
    /* margin-left: 45px; */
    max-width: 95%;
}

.container {
    width: 400px;
    height: 400px;
    background-color: #B6C197;
    text-align: center;
    border-radius: 10px;
}

.special-container {
    width: 400px;
    height: 400px;
    background-color: #B6C197;
    text-align: center;
    border-radius: 10px;
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    animation: heartBeat;
    animation-duration: 1s;
    touch-action: manipulation;
}

#container-one {
    background: rgb(182,193,151);
    background: linear-gradient(90deg, rgba(182,193,151,1) 0%, rgba(213,221,188,1) 25%, rgba(250,235,215,1) 100%);
    /* animation: flipInY; */
    /* animation-duration: 2s; */
}

#container-one:hover {
    animation: tada;
    animation-duration: 2s;
}

#container-two {
    background: rgb(182,193,151);
    background: linear-gradient(270deg, rgba(182,193,151,1) 0%, rgba(213,221,188,1) 25%, rgba(250,235,215,1) 100%);
    /* animation: flipInY; */
    /* animation-duration: 2s; */
}

#container-two:hover {
    animation: tada;
    animation-duration: 2s;
}

#dead-container {
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
}

#give-up-container {
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
}

#cliff-container {
    animation: heartBeat;
    animation-duration: 1s;
    touch-action: manipulation;
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
}

#boat-container {
    animation: heartBeat;
    animation-duration: 1s;
    background: rgb(250,235,215);
    background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    touch-action: manipulation;
}

#countdown {
    color: red;
    font-size: 65px;

}

.option-text {
    font-size: 20px;
    color: black;
    padding: 20px;
    font-family: 'Oxanium', cursive;
}

.cliff-btn-div {
    /* align-self: flex-end; */
    margin-top: 100px;

}

.boat-btn-div {
    margin-top: 100px;
}

#countdown {
    margin: 20px;
    padding: 20px;
    color: an;
}

img {
    max-width: 200px;
}

@media screen and (max-width: 768px) {

    #message {
        font-size: 20px;
        margin: 20px 20px;
    }

    #container-block {
        flex-direction: column;
    }

    .container {
        width: auto;
        height: auto;
        
    }

    h2 {
        font-size: 20px;
        
    }

    .option-text {
        font-size: 18px;
    }

    #container-one {
        background: rgb(250,235,215);
        background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    }

    #container-two {
        background: rgb(250,235,215);
        background: radial-gradient(circle, rgba(250,235,215,1) 0%, rgba(213,221,188,1) 75%, rgba(182,193,151,1) 100%);
    }

    #dead-container {
        height: 100px;
    }

}

