#game-board {
    /* background-color: white; */
    width: 70%;
    height: 70%;
    animation: none;
}

a {
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Oxanium', cursive;
    font-size: 2vmin;
}

#icons-div {
    display: flex;
    /* align-content: space-between; */
    gap: 5vmin;
}

.icon {
    max-width: 5vmin;
}

